/.vscode/settings.json
/build
sdkconfig
sdkconfig.old
*.OutJob
*Project Logs for Master_Project/
*Project Logs for Slave_Project/
*History/
*.SchDocPreview
*.rar
*Project Outputs for Master_Project/
*Project Outputs for Slave_Project/
*.htm